Source: capasm
Section: kde
Priority: optional
Maintainer: Joachim Siebold <bug400@gmx.de>
Build-Depends: debhelper (>= 9), python3 (>=3.5), python3-pyqt5, python3-serial
Standards-Version: 3.9.2

Package: capasm
Architecture: all
Depends: ${misc:Depends}, python3 (>=3.5)
Description: capasm
 This package contains an assembler for the HP capricorn cpu
